<!DOCTYPE html>
<html>
    <head>
        <title><% title %></title>
        <meta charset="utf-8" />
        <meta name="description" content="Layout" />
        <meta name="author" content="Sergio Gonzalez 15211300" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <script src="/js/boostrap.bundle.js"></script>
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
        <a class="navbar-brand" href="/home">CURP</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#barraNav"
          aria-controls="barraNav"
          aria-expanded="true"
          aria-label="Activa navegacion"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse show" id="barraNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conoce">Conoce tu CURP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Obten tu CURP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactanos">Contactanos</a>
            </li>
          </ul>
        </div>
      </nav>

    <main>
      <%- body %>
    </main>

<!-- Footer -->
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text bg-dark">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0 text-light">Practica RFC</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3" href="/" role="button">Inicio</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-light">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">Sergio Gonzalez © 2019.
          <a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->

</html>