<!DOCTYPE html>
<html>
    <head>
        <title><% title %></title>
        <meta charset="utf-8" />
        <meta name="description" content="Layout" />
        <meta name="author" content="Sergio Gonzalez 15211300" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <script src="/js/boostrap.bundle.js"></script>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg py-3 navbar-inverse shadow-sm">
        <div class="container">
          <a href="/" class="navbar-brand">
            <!-- Logo Image -->
            <img src="/images/logoblanco.png" width="120" alt="Inicio" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold">CURP</span>
          </a>

          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="/conoce">Conoce tu CURP</a></li>
              <li class="nav-item"><a class="nav-link" href="/registro">Obten tu CURP</a></li>
              <li class="nav-item"><a class="nav-link" href="/contactanos">Contactanos</a></li>
            </ul>
          </div>
        </div>
      </nav>
      


    <main>
      <%- body %>
    </main>

<!-- Footer -->
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text bg-dark">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0 text-light">Evaluacion 2 CURP</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3" href="/" role="button">Inicio</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-light">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">Sergio Gonzalez © 2019.
          <a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->

</html>