<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Constancia CURP</title>
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/styles.css" />
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <div class="p-5 cuadro">
      <h1 style="text-align: center;">
        Estados Unidos Mexicanos
      </h1>
      <br />
      <h2 style="text-align: center;">
        Constancia de la Clave Unica de Registro de Poblacion
      </h2>

      <div class="p-5">
        <h3>
          Clave: <%- calculado %>
        </h3>
        <br class="espacio" />
      </div>

      <div class="container-fluid bandera pl-5">
        <div class="row">
          <div class="col-8">
            <h4>
              Nombre: <%- nombre %> <%- apellido_paterno %> <%- apellido_materno
              %>
              <br />
              Fecha de nacimiento: <%- fecha_nacimiento %>
              <br />
              Lugar de nacimiento: <%- estado %>
            </h4>
            <br class="espacio" />
            <img src="http://localhost:3000/images/codigoQR.png" />
          </div>
          <div class="col">
            <img src="http://localhost:3000/images/bandera.png" />
          </div>
        </div>
        <div class="pt-5 text-right">
          Derechos Reservados (c)
        </div>
      </div>
    </div>
  </body>
</html>
