<%- contentFor ('body') %>

<div class="container-fluid pb-4 text-light text-center">
  <h1>¿Que es el CURP?</h1>
</div>

<div class="col-sm-12 text-center container-fluid">
  <img
    class="img-fluid rounded banner"
    src="/images/curp.jpg"
    alt="Registro Federal de Contribuyentes"
  />
</div>

<div class="container-fluid p-5 mb-2 blockquote text-light">
  <p class="text-justify">
    En México la Clave Única de Registro de Población (CURP) es un código
    alfanumérico único de identidad de 18 caracteres utilizado para identificar
    oficialmente tanto a residentes como a ciudadanos mexicanos de todo el país.
  </p>
</div>

<div class="container-fluid pt-5 pl-5 pb-2 mb-2 blockquote text-light">
  <h3 class="pb-2">¿Para que sirve?</h3>

  <p class="text-justify">
    El CURP se usa para tramitar otros documentos oficiles en México, también te
    lo van a pedir para inscribirte en una guardería o escuela, solicitar
    trabajo, tramitar el pasaporte, hacer las declaraciones de impuestos en
    México, para que te atiendan en centros de salud y más trámites.
  </p>

  <div class="container-fluid pt-5 pl-5 pb-2 mb-2 text-light">
    <strong
      >Podemos mencionar algunos lugares donde piden la CURP como un
      requisito:</strong
    >

    <ul class="list-group">
      <li>Para inscripciones en instituciones educativas</li>
      <li>Para obtener acta de nacimiento</li>
      <li>Para afiliación al seguro social</li>
      <li>Para obtener la cartilla militar</li>
      <li>Para tramitar la identificación oficial INE</li>
      <li>Entre otros tramites más…</li>
    </ul>
  </div>
</div>
